In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {
    "name":['rk','sussu','pk','baba'],
    "marks":[81,65,72,55],
    "city":["Janjgir","Ambikapur","Durg","Bilaspur"]
}

In [3]:
df = pd.DataFrame(dict1)

In [4]:
df

    name  marks       city
0     rk     81    Janjgir
1  sussu     65  Ambikapur
2     pk     72       Durg
3   baba     55   Bilaspur

In [5]:
df.to_csv('friends.csv')

In [7]:
df.to_csv('friends_indexFalse.csv', index=False)

In [8]:
df.head(2)

    name  marks       city
0     rk     81    Janjgir
1  sussu     65  Ambikapur

In [9]:
df.tail(4)

    name  marks       city
0     rk     81    Janjgir
1  sussu     65  Ambikapur
2     pk     72       Durg
3   baba     55   Bilaspur

In [10]:
df.describe()

           marks
count   4.000000
mean   68.250000
std    10.996211
min    55.000000
25%    62.500000
50%    68.500000
75%    74.250000
max    81.000000

In [12]:
rk = pd.read_csv('rk.csv')
rk

EmptyDataError: No columns to parse from file